@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out; }

@font-face {
  font-family: 'TTRegular';
  src: url("../Fonts/TitilliumText22L003-webfont.eot");
  src: url("../Fonts/TitilliumText22L003-webfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/TitilliumText22L003-webfont.woff") format("woff"), url("../Fonts/TitilliumText22L003-webfont.ttf") format("truetype"), url("../Fonts/TitilliumText22L003-webfont.svg#TitilliumText22LRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TTMedium';
  src: url("../Fonts/TitilliumText22L004-webfont.eot");
  src: url("../Fonts/TitilliumText22L004-webfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/TitilliumText22L004-webfont.woff") format("woff"), url("../Fonts/TitilliumText22L004-webfont.ttf") format("truetype"), url("../Fonts/TitilliumText22L004-webfont.svg#TitilliumText22LMedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TTLarge';
  src: url("../Fonts/TitilliumText22L005-webfont.eot");
  src: url("../Fonts/TitilliumText22L005-webfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/TitilliumText22L005-webfont.woff") format("woff"), url("../Fonts/TitilliumText22L005-webfont.ttf") format("truetype"), url("../Fonts/TitilliumText22L005-webfont.svg#TitilliumText22LBold") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'TTMedium';
  font-size: 1em;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  text-align: center; }

p {
  line-height: 1.4; }

pre {
  margin: 0;
  white-space: none; }

.header {
  background: url("../images/bg-header.png") center center no-repeat;
  padding: 2.5em 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 0 3px 4px #666;
  -moz-box-shadow: 0 3px 9px #666;
  -webkit-box-shadow: 0 0px 6px #666; }
  .header h1 {
    color: white;
    font-size: 3em;
    font-weight: normal;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 6px #666;
    letter-spacing: 0.1em; }
  .header p {
    color: white;
    text-align: center;
    text-shadow: 0px 0px 2px #000; }

.container {
  margin: 15em auto 0;
  max-width: 50em;
  position: relative; }

.posts__article .posts__title {
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase; }
  .posts__article .posts__title:first-letter {
    font-size: 130%; }
.posts__article .posts__date {
  font-size: 1.25em;
  text-align: center; }
.posts__article h2, .posts__article h3, .posts__article h4, .posts__article h5, .posts__article h6 {
  color: #ae0e15;
  font-size: 1.5em; }
.posts__article a {
  color: #ed1b24;
  text-decoration: none; }
  .posts__article a:hover, .posts__article a:focus {
    color: #ae0e15;
    text-shadow: 0 0 10px #CCC; }
