@font-face {
    font-family: 'TTRegular';
    src: url('../Fonts/TitilliumText22L003-webfont.eot');
    src: url('../Fonts/TitilliumText22L003-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/TitilliumText22L003-webfont.woff') format('woff'),
         url('../Fonts/TitilliumText22L003-webfont.ttf') format('truetype'),
         url('../Fonts/TitilliumText22L003-webfont.svg#TitilliumText22LRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTMedium';
    src: url('../Fonts/TitilliumText22L004-webfont.eot');
    src: url('../Fonts/TitilliumText22L004-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/TitilliumText22L004-webfont.woff') format('woff'),
         url('../Fonts/TitilliumText22L004-webfont.ttf') format('truetype'),
         url('../Fonts/TitilliumText22L004-webfont.svg#TitilliumText22LMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTLarge';
    src: url('../Fonts/TitilliumText22L005-webfont.eot');
    src: url('../Fonts/TitilliumText22L005-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/TitilliumText22L005-webfont.woff') format('woff'),
         url('../Fonts/TitilliumText22L005-webfont.ttf') format('truetype'),
         url('../Fonts/TitilliumText22L005-webfont.svg#TitilliumText22LBold') format('svg');
    font-weight: normal;
    font-style: normal;
}